.About {
  padding-bottom: 8em;
  background-color: #FCFBFB;
}

.About .info-wrapper {
  width: 900px;
  padding-top: 8em;
  margin: 0 auto;
  position: relative;
}

.About .top-squares {
  width: 161px;
  height: 167px;
  position: absolute;
  right: -1.5em;
  top: 3em;
}

.About .bottom-squares {
  width: 168px;
  height: 187px;
  position: absolute;
  left: -1em;
  bottom: -6em;
}

.About .photo, .About .info {
  padding-left: 3em;
}

.About .name {
  font-family: 'Futura PT Demi';
  font-size: 40px;
  color: #360830;
}

.About .description {
  width: 500px;
  padding-top: .5em;
  font-family: 'Futura PT Light';
  font-size: 24px;
  line-height: 32px;
  color: #333133;
}

.About .social {
  padding-top: 1.5em;
}

.About .social .social-link {
  margin-right: 1em;
}

.btn-pink .download {
  margin-top: -3px;
  margin-right: 3px;
}

@media screen and (max-width: 767px) {
  .About {
    padding-bottom: 2em;
  }

  .About .info-wrapper {
    width: 100%;
    padding-top: 7em;
  }

  .About .info-wrapper .photo {
    margin: 0 auto;
  }

  .About .top-squares {
    right: 2em;
    top: 1em;
  }

  .About .bottom-squares {
    width: 152px;
    height: 169px;
    left: 2em;
    top: 17em;
  }

  .About .photo {
    padding: 0;
  }

  .About .info {
    padding-top: 6em;
    padding-left: 2em;
  }

  .About .name {
    padding-top: 1em;
    font-size: 28px;
  }

  .About .description {
    width: initial;
    padding-right: 1em;
    font-size: 20px;
    line-height: 28px;
  }

  .triangle {
    height: 40px;
  }
}
