.Job {
  width: 350px;
  padding-top: 5em;
  margin-left: -.7em;
}

.Job .info .description {
  padding-top: 1em;
  font-family: 'Futura PT Light';
  font-size: 24px;
  line-height: 32px;
  color: #333133;
}

.Job .btn {
  margin-top: 1em;
}

.Job .mockup .square {
  width: 260px;
  height: 260px;
  position: absolute;
  right: 0;
  background-color: #CF3670;
}

.Job .mockup .square .right-square {
  position: absolute;
  right: -3em;
  margin-top: -3em;
}

.Job .mockup .square .badge {
  position: absolute;
  top: 2em;
  right: 2em;
}

.Job .mockup .square .image {
  position: absolute;
  top: 5em;
  left: -12em;
}

@media screen and (max-width: 767px) {
  .Job {
    flex-wrap: wrap;
    padding: 2em 0;
    margin: 0 2em;
    padding-top: 4em;
  }

  .Job .info .description {
    padding-right: 4em;
    font-size: 20px;
    line-height: 28px;
  }

  .Job .mockup {
    margin-top: 2em;
  }

  .Job .mockup .square {
    top: initial;
    width: 200px;
    height: 200px;
    right: 2em;
  }

  .Job .mockup .square .right-square {
    display: none;
  }

  .Job .mockup .square .image {
    width: 350px;
    top: 4.5em;
    left: -8.5em;
  }

  .Job .mockup .square .badge {
    right: 1em;
  }
}