.Jobs {
  padding-top: 7em;
}

.Jobs .title {
  margin-left: .7em;
  position: relative;
  font-family: 'Futura PT Demi';
  font-size: 40px;
  color: #CF3670;
}

.Jobs .title .left-squares {
  position: absolute;
  left: -1.5em;
  top: -.6em;
}

.Jobs .slider {
  position: relative;
}

.Jobs .left-arrow, .Jobs .right-arrow {
  height: 57px;
  position: absolute;
}

.Jobs .left-arrow:hover, .Jobs .right-arrow:hover {
  cursor: pointer;
}

.Jobs .left-arrow {
  top: 50%;
  left: -4em;
}

.Jobs .right-arrow {
  top: 50%;
  right: -4em;
}

@media screen and (max-width: 767px) {
  .Jobs {
    padding-top: 4em;
  }

  .Jobs .title {
    font-size: 28px;
    padding-left: 1.5em;
  }

  .Jobs .title .left-squares {
    width: 90px;
    height: 75px;
    left: 0;
  }

  .Jobs .left-arrow {
    width: auto;
    height: 30px;
    top: 50%;
    left: 1em;
    z-index: 9999;
  }

  .Jobs .right-arrow {
    width: auto;
    height: 30px;
    top: 50%;
    right: 1em;
    z-index: 9999;
  }
}